 <script src="../public/md5.js"></script>
<div class="main">
    <div class="searchTitle">
        <span class="searchStyle"></span>
        <span class="searchText">用户管理>>用户功能</span>
    </div>
    <div class="contentBox">
        <div class="searchItems">
            <div class="form-group">
                <label class="">账号：</label>
                <input type="text" maxlength="10" name="loginName" class="form-control loginName">
            </div>
            <div class="form-group">
                <label>用户名：</label>
                <input type="text" maxlength="20" name="username" class="form-control username">
            </div>
            <div class="btnBox">
                <button type="button" class="btn btn-info js_newUsers">注册用户</button>
                <button type="button" class="btn btn-info query">查询</button>
                <button type="button" class="btn btn-info js_resetQuery">重置</button>
            </div>
        </div>
        <div class="content">
            <table id="detailGrid">
            </table>
        </div>
    </div>

</div>
<!-- 新建用户 -->
<div id="popUser" class="modal fade" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header my-modal-header">
                <span class="modal-title">添加用户</span>
            </div>
            <div class="modal-body update-modal-body">
                <form action="" id="formId">
                    <input type="hidden" class="userId" name="userId">
                    <div class="form-group">
                        <label class="shortLabel"><span class="red">*</span>账号：</label>
                        <input required maxlength="20" type="text" class="form-control loginName shortInput" name="loginName" placeholder="账号">
                    </div>
                    <div class="form-group password">
                        <label class="shortLabel"><span class="red">*</span>密码：</label>
                        <input required maxlength="20" minlength="6" type="password" class="form-control shortInput" name="password" placeholder="密码">
                    </div>
                    <div class="form-group">
                        <label class="shortLabel"><span class="red">*</span>用户名：</label>
                        <input required maxlength="20" type="text" class="form-control shortInput" name="username" placeholder="用户名">
                    </div>
                    <div class="form-group">
                        <label class="shortLabel">性别：</label>
                        <input name="sex" class="mr20" checked type="radio" value="1"/>男
                        <input name="sex" class="ml20" type="radio" value="0"/>女
                    </div>
                    <div class="form-group">
                        <label class="shortLabel">电话：</label>
                        <input class="form-control shortInput" name="phone" minlength="11" maxlength="11" type="phone" placeholder="电话"/>
                    </div>
                    <div class="form-group">
                        <label class="shortLabel">邮箱：</label>
                        <input id="email" class="form-control shortInput" type="email" name="email" email maxlength="50" placeholder="邮箱"/>
                    </div>
                    <div class="form-group">
                        <label class="shortLabel">所属角色：</label>
                        <select class="roleName form-control shortInput" name="roleName">

                        </select>
                        <input type="text" class="roleName form-control shortInput none" name="roleName">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info submitUserForm">确定<i class=""></i></button>
                <button data-dismiss="modal" type="button" class="close-btn btn btn-info btn-md">关闭<i class=""></i></button>
            </div>
        </div>
    </div>
</div>
