
<div class="main" style="overflow-y: auto;">
        <div class="top-div flex-container">
            <div class="item">
                <div class="w50b h50b fl itemContent">今日登录次数</div>
                <div class="w50b h50b fl tr itemNum">0</div>
                <div class="w50b h50b fl bgCommon greenLine"></div>
                <div class="w50b h50b fl tr itemTime">
                    <p>最近登录时间</p>
                    <p>2020/4/24 12:11:32</p>
                </div>
            </div>
            <div class="item">
                <div class="w50b h50b fl itemContent">证书升级</div>
                <div class="w50b h50b fl tr itemNum">0</div>
                <div class="w50b h50b fl bgCommon purpleLine"></div>
                <div class="w50b h50b fl tr itemTime">
                    <p>最近升级时间</p>
                    <p>2020/4/24 12:11:32</p>
                </div>
            </div>
            <div class="item">
                <div class="w50b h50b fl itemContent">控件升级</div>
                <div class="w50b h50b fl tr itemNum">0</div>
                <div class="w50b h50b fl bgCommon blueLine"></div>
                <div class="w50b h50b fl tr itemTime">
                    <p>最近升级时间</p>
                    <p>2020/4/24 12:11:32</p>
                </div>
            </div>
            <div class="item">
                <div class="w50b h50b fl itemContent">客户端升级</div>
                <div class="w50b h50b fl tr itemNum">0</div>
                <div class="w50b h50b fl bgCommon pinkLine"></div>
                <div class="w50b h50b fl tr itemTime">
                    <p>最近升级时间</p>
                    <p>2020/4/24 12:11:32</p>
                </div>
            </div>
        </div>
        <div id="center-div" class="charts">

        </div>
        <div id="bottom-div">
            <div class="fl charts" id="bottom-left-chart"></div>
            <div class="w40b fl charts" id="bottom-right-chart"></div>
        </div>
</div>
<!--<script src="../../public/echarts/echarts.min.js"></script>-->