
<div class="main">
    <div class="searchTitle">
        <span class="searchStyle"></span>
        <span class="searchText">应用管理>>首页菜单</span>
    </div>
    <div class="contentBox">
        <div class="searchItems">
            <div class="form-group">
                <label class="">名称：</label>
                <input type="text" maxlength="100" name="urlName" class="form-control urlName">
            </div>
            <div class="btnBox">
                <button type="button" class="btn btn-info addBtn">新建</button>
                <button type="button" class="btn btn-info searchBtn">查询</button>
                <button type="button" class="btn btn-info resetBtn">重置</button>
                <button type="button" class="btn btn-info addAppIconBtn">添加图标</button>
            </div>
        </div>
        <div class="content">
            <table id="detailGrid">

            </table>
        </div>
    </div>
</div>

<div id="applicationModal" class="modal fade" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header my-modal-header">
                <span class="modal-title">新建控件类型</span>
            </div>
            <div class="modal-body update-modal-body">
                <form>
                    <input type="hidden" class="rowId">
                    <input type="hidden" class="url">
                    <input type="hidden" class="iconUrl">
                    <div class="form-group">
                        <label class="shortLabel"><span class="red">*</span>url地址：</label>
                        <input required type="url" name="urlAddress" class="form-control urlAddress shortInput"/>
                    </div>
                    <div class="form-group">
                        <label class="shortLabel"><span class="red">*</span>名称：</label>
                        <input required type="text" name="urlName" class="form-control urlName shortInput"/>
                    </div>
                    <div class="form-group">
                        <label class="shortLabel"><span class="red">*</span>描述：</label>
                        <input required type="text" name="urlDescribe" class="form-control urlDescribe shortInput"/>
                    </div>
                    <div class="form-group editIcon" style="margin-bottom: 0;">
                        <label class="shortLabel fl"><span class="red">*</span>可选图标：</label>
                        <div class="form-control iconsDiv ml3 shortInput" style="height: 220px;overflow-y: auto;padding-top: 20px;padding-left: 30px;">

                        </div>
                    </div>
                    <div class="form-group none scanIcon" style="margin-bottom: 0;">
                        <label class="shortLabel fl"><span class="red">*</span>选中图标：</label>
                        <div class="form-control detailIconsDiv ml3 shortInput" style="height: 150px;overflow-y: auto;padding-top: 20px;padding-left: 30px;">

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-info submitUserForm">确认</button>
                <button type="button" class="btn btn-default closeBtn" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>


<div id="iconModal" class="modal fade" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header my-modal-header">
                <span class="modal-title">添加图标</span>
            </div>
            <div class="modal-body update-modal-body">
                <form >
                    <div class="form-group">
                        <label>上传文件:<span style="color: #999;">（请上传92*92的图片）</span></label>
                        <div id="uploader" class="wu-example uploaders" style="overflow: hidden;">
                            <div id="fileList" class="uploader-list" style="height: 160px;overflow-y: auto;">
                                <p style="display: none;color: red;" class="flagPs">请选择需要上传的文件!</p>
                                <p style="display: none;color: red;" class="tips"></p>
                            </div>
                            <div class="btns fl" style="margin-top: 5px;width: 100%;">
                                <div id="upInfo" ></div>
                                <button id="filePicker" type="button" class="fl btn" style="padding: 0;" >选择文件</button>
                                <button type="button" class="btn btn-info fr" id="btn">开始上传</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 0;">
                        <label class="">已有图标：</label>
                        <div class="form-control iconsDiv" style="height: 220px;overflow-y: auto;padding-top: 20px;padding-left: 30px;">

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!--<button type="button" data-dismiss="modal" class="btn btn-info submitUserForm">确认</button>-->
                <button type="button" class="btn btn-default closeBtn" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>