<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="css/home.css">
    <script src="public/jquery-1.9.1.js"></script>
    <script src="public/home.js"></script>
</head>
<body class="bgCommon">
<div class="mainDiv">
</div>

<div class="headerLogo bgCommon"></div>
<div class="appStore">
    <form><input id="interfaceUrl" type="hidden" th:value="${homeUrl}"/></form>
</div>
<ul class="pageBtn">

</ul>
<div class="footer bgCommon"></div>
</body>
</html>