<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.common.dao.BrowserLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ht.common.entity.BrowserLog">
        <id column="ID" property="id"/>
        <result column="IP_ADDRESS" property="ipAddress"/>
        <result column="MAC" property="mac"/>
        <result column="OS_VERSION" property="osVersion"/>
        <result column="BROWSER_VERSION" property="browserVersion"/>
        <result column="TYPE_ID" property="typeId"/>
        <result column="TITLE" property="title"/>
        <result column="URL" property="url"/>
        <result column="REMARK" property="remark"/>
        <result column="CHECK_STATUS" property="checkStatus"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, IP_ADDRESS, MAC, OS_VERSION, BROWSER_VERSION, TYPE_ID, TITLE, URL, REMARK, CHECK_STATUS, CREATE_TIME, UPDATE_TIME
    </sql>

    <sql id="select_param">
        <if test="request.mac!=null and request.mac!='' ">
            AND MAC LIKE concat('%',#{request.mac},'%')
        </if>
    </sql>

    <select id="systemLogList" resultType="java.util.Map">
        SELECT
        COUNT(MAC) AS "count",MAC
        FROM browser_log
        <where>
            <include refid="select_param"/>
        </where>
        GROUP BY MAC
        LIMIT #{request.startNum} ,#{request.size}
    </select>

    <select id="systemLogListCount" resultType="java.lang.Integer">
        SELECT
        COUNT(1)
        FROM
        (SELECT
        MAC
        FROM browser_log
        GROUP BY MAC
        ) aa
        <where>
            <include refid="select_param"/>
        </where>
    </select>

    <select id="selectMaxTimeByMac" resultType="java.util.Date">
        SELECT
        CREATE_TIME  AS "createTime"
        FROM browser_log
        WHERE MAC = #{mac}
        ORDER BY CREATE_TIME DESC
        LIMIT 1
    </select>

</mapper>
