<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.common.dao.SystemOperateLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ht.common.entity.SystemOperateLog">
        <id column="ID" property="id" />
        <result column="IP_ADDRESS" property="ipAddress" />
        <result column="LOGIN_NAME" property="loginName" />
        <result column="OPERATE_TYPE" property="operateType" />
        <result column="VALUE" property="value" />
        <result column="CHECK_STATUS" property="checkStatus" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="REMARK" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, IP_ADDRESS, LOGIN_NAME, OPERATE_TYPE, VALUE, CHECK_STATUS, CREATE_TIME, UPDATE_TIME, REMARK
    </sql>

</mapper>
